.avatar-layout-box {
  font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
  background-color: $shade10;
  padding: 0.5em;
}

.avatar-headers-label {
  color: $base05;
}

.avatar-headers-close {
  color: $base11;
}

.avatar-headers-close:hover {
  color: $base09;
}

.avatar-headers {
  padding: 1.2em 1.5em 0.8em 1.5em;
  font-size: 25;
  font-family: Phosphor, "Caviar Dreams";
}

.avatar-box-inner:last-child {
  margin-bottom: 0.6em;
}

@import "./_mpd.scss";
@import "./_pctl.scss";
@import "./_userinfo.scss";
@import "./_quick.scss";
@import "./_override.scss";

// vim:ft=scss
