.avatar-layout-box {
  font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
  background-color: $shade09;
}

.avatar-profile-top-box {
  // TODO: Make this look prettier.
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1.0), rgba(30, 33, 40, 0.95)), url("./assets/banner.jpg");
  background-size: cover;
  border-radius: 1em;
  margin: 1em;
  background-repeat: no-repeat;
}

.avatar-profile-user-box {
  background: linear-gradient(45deg, rgba(16, 19, 23, 1.0) 20%, $base01 100%);
  padding: 2em 2.5em 0 2.5em;
  margin: 2em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px 2px $shade09;
}

.avatar-profile-username {
  color: $base09;
  font-size: 25;
  font-weight: bold;
  padding-top: 0.5em;
}

.avatar-profile-hostname {
  color: $base11;
  padding-top: 0.2em;
}

.avatar-icon { padding-right: 0.7em; }
.avatar-quick-settings {
  padding: 1em;
  margin-top: 3em;
  color: $base04;
}

.avatar-profile-bluetooth-on .avatar-icon { color: $base14; }
.avatar-profile-bluetooth-off .avatar-icon { color: $base11; }

.avatar-icon-connected { color: $base14; }
.avatar-icon-disconnected { color: $base11; }
.avatar-icon-connecting { color: $base13; }
.avatar-icon-unavailable { color: $base03; }
.avatar-icon-unmanaged { color: $base09; }
.avatar-icon-deactivating { color: $base10; }
.avatar-icon-using { color: $base12; }

.avatar-updates-has .avatar-icon { color: $base13; }
.avatar-updates-none .avatar-icon { color: $base14; }

.avatar-box-inner { padding: 1em; }

.avatar-mpd-box {
  font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 1.5em;
}

.avatar-mpd-icon {
  font-size: 30;
  margin-right: 0.6em;
}

.avatar-mpd-icon,
.avatar-mpd-name { font-weight: 500; }

.avatar-mpd-separator {
  font-size: 15;
  padding: 0 0.5em 0 0.5em; 
}

.avatar-mpd-artist,
.avatar-mpd-title { font-size: 20; }
.avatar-mpd-title { font-weight: bold; }
.avatar-mpd-controls { font-size: 25; }

.avatar-mpd-button-playback:hover { color: $base10; }
.avatar-mpd-button-prev:hover { color: $base09; }
.avatar-mpd-button-next:hover { color: $base09; }

.avatar-mpd-button-like {
  padding-left: 0.5em;
  font-size: 30;
}

.avatar-mpd-button-like:hover { color: $base11; }
.avatar-mpd-minimal { font-size: 20; }
.avatar-mpd-footer { font-size: 17; }

.avatar-mpd-progress {
  trough {
    background-color: darken($base05, 25%);
    min-height: 0.3em;
    border-radius: 0.2em;

    highlight {
      background-color: lighten($base05, 15%);
      border-radius: 0.2em;
    }

    slider {
      background: lighten($base05, 25%);
      border-radius: 100%;
      margin: -8px;
    }
  }
}

.avatar-pctl-box {
  font-family: feather, Lato, "Iosevka Nerd Font", sans-serif;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 1.5em;
  color: $base05;
}

.avatar-pctl-icon {
  font-size: 30;
  margin-right: 0.6em;
  color: $base09;
}

.avatar-pctl-icon,
.avatar-pctl-name { font-weight: 500; }

.avatar-pctl-separator {
  font-size: 15;
  padding: 0 0.5em 0 0.5em;
}

.avatar-pctl-artist,
.avatar-pctl-title { font-size: 20; }
.avatar-pctl-title { font-weight: bold; }
.avatar-pctl-controls { font-size: 30; }

.avatar-pctl-button-playback,
.avatar-mpd-button-playback {
  font-size: 50;
}

.avatar-pctl-button-playback:hover { color: $base10; }
.avatar-pctl-button-prev:hover { color: $base09; }
.avatar-pctl-button-next:hover { color: $base09; }
.avatar-pctl-minimal { font-size: 20; }

// vim:ft=scss
