// SCSS Variables
// Special
$background: #272c35;
$foreground: #d8dee9;

// Colors
$color0: #242933;
$color1: #bf616a;
$color2: #a3be8c;
$color3: #ebcb8b;
$color4: #5e81ac;
$color5: #b48ead;
$color6: #88c0d0;
$color7: #e5e9f0;
$color8: #2c313a;
$color9: #d08770;
$color10: #a3be8c;
$color11: #ebcb8b;
$color12: #81a1c1;
$color13: #606672;
$color14: #8fbcbb;
$color15: #4c566a;
