// SCSS Variables
// Special
// $background: #2e3440;
$background: #272c35;
$foreground: #d8dee9;

// Colors
$color0: #2e3440;
// $color0: #3b4252;
$color1: #bf616a;
$color2: #a3be8c;
$color3: #ebcb8b;
$color4: #81a1c1;
$color5: #b48ead;
$color6: #88c0d0;
$color7: #e5e9f0;
// $color8: #4c566a;
$color8: #3b4252;
$color9: #bf616a;
$color10: #a3be8c;
$color11: #ebcb8b;
$color12: #81a1c1;
$color13: #b48ead;
$color14: #88c0d0;
$color15: #b48ead;
