$background: #101317;
$foreground: #d4d4d5;

$color0: #23242A;
$color8: #19191C;

$color1: #f87070;
$color9: #f87070;

$color2: #79dcaa;
$color10: #36c692;

$color3: #ffe59e;
$color11: #ffe59e;

$color4: #6ba0ce;
$color12: #7ab0df;

$color5: #c397d8;
$color13: #b77ee0;

$color6: #54ced6;
$color14: #70c0ba;

$color7: #e0e0e0;
$color15: #ffffff;
