.vertigo-battery-button {
  background-color: $base11;
  border-radius: 50% 0 0 0;
  font-size: 25;
  padding: 0.57em 0 0.5em 0;
  color: $base01;
}

.vertigo-battery-button:hover { opacity: 0.85; }

.vertigo-time-button {
  font-size: 26;
  background-color: $base01;
  padding: 0.4em 0 0.4em 0;
  font-family: "Iosevka Nerd Font", sans-serif;
}

.vertigo-time-format-first { font-weight: bold; color: $base15; }
.vertigo-time-format-second { color: $base14; }
.vertigo-time-format-third { color: $base13; }
.vertigo-reveal-box button { padding: 0.57em 0 0.57em 0; font-size: 26; }

.vertigo-volume-on { background-color: $shade01; color: $base13; }
.vertigo-volume-off { background-color: $shade01; color: $base11; }
.vertigo-volume-on:hover { background-color: $base13; color: $shade01; }
.vertigo-volume-off:hover { background-color: $base11; color: $shade01; }

.vertigo-nightmode-on { background-color: $shade01; color: $base09; }
.vertigo-nightmode-off { background-color: $shade01; color: $base13; }
.vertigo-nightmode-on:hover { background-color: $base09; color: $shade01; }
.vertigo-nightmode-off:hover { background-color: $base13; color: $shade01; }

.vertigo-notify-on { background-color: $base02; color: $base15; }
.vertigo-notify-off { background-color: $base02; color: $base11; }
.vertigo-notify-on:hover { background-color: $base15; color: $base02; }
.vertigo-notify-off:hover { background-color: $base11; color: $base02; }

.vertigo-todo-button { background-color: $base01; color: $base07; }
.vertigo-todo-button:hover { background-color: $base07; color: $base01; }
.vertigo-workspace-plus-button { color: $base11; background-color: $base02; }
.vertigo-workspace-plus-button:hover { background-color: $base11; color: $base02; }

.vertigo-time-button:hover { background-color: $base03; color: $base01; }
.vertigo-profile-button { margin: 0 0 1em 0; }

.vertigo-tall,
.vertigo-wide,
.vertigo-rtall,
.vertigo-rwide,
.vertigo-grid,
.vertigo-rgrid,
.vertigo-even,
.vertigo-tiled,
.vertigo-monocle {
  background-color: $shade06;
}

.vertigo-tall {
  color: $base11;
}

.vertigo-wide {
  color: $base12;
}

.vertigo-rtall {
  color: $base13;
}

.vertigo-rwide {
  color: $base14;
}

.vertigo-grid {
  color: $base15;
}

.vertigo-rgrid {
  color: $base10;
}

.vertigo-even {
  color: $base09;
}

.vertigo-tiled {
  color: $base08;
}

.vertigo-monocle {
  color: $base07;
}

// .vertigo-tall:hover {
//   background-color: $base11;
//   color: $base02;
// }

// .vertigo-wide:hover {
//   background-color: $base12;
//   color: $base02;
// }

// .vertigo-rtall:hover {
//   background-color: $base13;
//   color: $base02;
// }

// .vertigo-rwide:hover {
//   background-color: $base14;
//   color: $base02;
// }

// .vertigo-grid:hover {
//   background-color: $base15;
//   color: $base02;
// }

// .vertigo-rgrid:hover {
//   background-color: $base10;
//   color: $base02;
// }

// .vertigo-even:hover {
//   background-color: $base09;
//   color: $base02;
// }

// .vertigo-tiled:hover {
//   background-color: $base08;
//   color: $base02;
// }

// .vertigo-monocle:hover {
//   background-color: $base07;
//   color: $base02;
// }

.vertigo-tall:hover,
.vertigo-wide:hover,
.vertigo-rtall:hover,
.vertigo-rwide:hover,
.vertigo-grid:hover,
.vertigo-rgrid:hover,
.vertigo-even:hover,
.vertigo-tiled:hover,
.vertigo-monocle:hover {
  background-color: $shade04;
}

.vertigo-separator { 
  background-color: $base03; 
  margin-top: 5em;
  margin-bottom: 5em;
  font-size: 2;
}

// vim:ft=scss
