.vertigo-battery-button {
  background-color: $base11;
  border-radius: 50% 0 0 0;
  font-size: 25;
  padding: 0.57em 0 0.57em 0;
  color: $base01;
  font-weight: bold;
}

.vertigo-battery-button:hover { opacity: 0.85; }

.vertigo-time-button {
  font-size: 26;
  background-color: $base01;
  padding: 0.4em 0 0.4em 0;
  font-family: "Iosevka Nerd Font", sans-serif;
}

.vertigo-time-format-first { font-weight: bold; color: $base15; }
.vertigo-time-format-second { color: $base14; }
.vertigo-reveal-box button { padding: 0.57em 0 0.57em 0; font-size: 26; }

.vertigo-volume-on { background-color: $shade01; color: $base13; }
.vertigo-volume-off { background-color: $shade01; color: $base11; }
.vertigo-volume-on:hover { background-color: $base13; color: $shade01; }
.vertigo-volume-off:hover { background-color: $base11; color: $shade01; }

.vertigo-nightmode-on { background-color: $shade01; color: $base09; }
.vertigo-nightmode-off { background-color: $shade01; color: $base13; }
.vertigo-nightmode-on:hover { background-color: $base09; color: $shade01; }
.vertigo-nightmode-off:hover { background-color: $base13; color: $shade01; }

.vertigo-notify-on { background-color: $base02; color: $base15; }
.vertigo-notify-off { background-color: $base02; color: $base11; }
.vertigo-notify-on:hover { background-color: $base15; color: $base02; }
.vertigo-notify-off:hover { background-color: $base11; color: $base02; }

.vertigo-todo-button { background-color: $base01; color: $base07; }
.vertigo-todo-button:hover { background-color: $base07; color: $base01; }
.vertigo-workspace-plus-button { color: $base11; background-color: $base02; }
.vertigo-workspace-plus-button:hover { background-color: $base11; color: $base02; }

.vertigo-time-button:hover { background-color: $base03; color: $base01; }
.vertigo-profile-button { margin: 0 0 1em 0; }

.vertigo-separator { 
  background-color: $base03; 
  margin-top: 5em;
  margin-bottom: 5em;
  font-size: 2;
}

// vim:ft=scss
