.vertigo-layout-box {
  // background-color: $base00;
  background-color: $shade10;
  font-family: Phosphor, Dosis, sans-serif;
  padding: 0.8em 0.8em 0 0.8em;
}

@import "./_state.scss";
@import "./_info.scss";
@import "./_node.scss";
@import "./_override.scss";

// vim:ft=scss
