.vertigo-button {
  font-size: 15;
  padding: 1.05em 0 1.05em 0;
  margin: 0 1em 1em 1em;
  border-radius: 15%;
}

.vertigo-workspace-plus-button {
  border-radius: 50%;
  background-color: $base01;
}

.vertigo-workspace-plus-button label {
  background-color: $base01;
  color: $base11;
  border-radius: 50%;
}

.vertigo-workspace-plus-button:hover {
  background-color: $base11;
}

.vertigo-workspace-plus-button:hover label {
  background-color: $base11;
  color: $base01;
}

.vertigo-workspace-local {
  font-size: 14;
  border-radius: 50%;
}

.vertigo-workspace-local label {
  color: $base14;
  border-radius: 50%;
}

.vertigo-workspace-local:hover {
  background-color: $base14;
}

.vertigo-workspace-local:hover label {
  background-color: $base14;
  color: $base01;
}

.vertigo-workspace-focused {
  background-color: $base01;
  border-radius: 50%;
}

.vertigo-workspace-focused label {
  color: $base13;
  background-color: $base01;
  border-radius: 50%;
}

.vertigo-workspace-focused:hover {
  background-color: $base13;
}

.vertigo-workspace-focused:hover label {
  color: $base01;
  background-color: $base13;
}

.vertigo-workspace-urgent {
  border-radius: 50%;
  background-color: $base11;
}

.vertigo-workspace-urgent label {
  color: $base01;
  background-color: $base11;
  border-radius: 50%;
}

.vertigo-workspace-urgent:hover {
  background-color: $base01;
}

.vertigo-workspace-urgent:hover label {
  background-color: $base01;
  color: $base11;
}

.vertigo-workspace-occupied {
  background-color: $base01;
  border-radius: 50%;
}

.vertigo-workspace-occupied label {
  color: $base15;
  background-color: $base01;
  border-radius: 50%;
}

.vertigo-workspace-occupied:hover {
  background-color: $base15;
}

.vertigo-workspace-occupied:hover label {
  background-color: $base15;
  color: $base01;
}

.vertigo-logo-button {
  margin-top: 1em;
  background-color: $base14;
}

.vertigo-logo-button:hover {
  border-radius: 50%;
}

.vertigo-logo-button:hover label {
  border-radius: 50%;
}

.vertigo-logo-button label {
  background-color: $base14;
  color: $base01;
}

.vertigo-search-button {
  background-color: $base01;
}

.vertigo-search-button label {
  background-color: $base01;
  color: $base09;
}

.vertigo-search-button:hover {
  background-color: $base09;
}

.vertigo-search-button:hover label {
  background-color: $base09;
  color: $base01;
}

.vertigo-volume-button label {
  color: $base10;
}

.vertigo-volume-button:hover {
  background-color: $base10;
}

.vertigo-volume-button:hover label {
  color: $base01;
  background-color: $base10;
}

.vertigo-battery-button {
  color: $base11;
}

.vertigo-battery-button label {
  color: $base11;
}

.vertigo-battery-button:hover {
  background-color: $base11;
}

.vertigo-battery-button:hover label {
  background-color: $base11;
  color: $base01;
}

.vertigo-time-button {
  background-color: $base01;
}

.vertigo-time-button box label {
  background-color: $base01;
  font-size: 1.5em;
  font-weight: 800;
}

.vertigo-time-button:hover {
  background-color: $base09;
}

.vertigo-time-button:hover box label {
  background-color: $base09;
  color: $base01;
}

.vertigo-time-format-first {
  color: $base09;
}

.vertigo-time-format-second {
  color: $base14;
}

.vertigo-todo-button, 
.vertigo-notify-button {
  color: $base11;
}

.vertigo-nightmode-button {
  color: $base13;
}

.vertigo-todo-button:hover, 
.vertigo-notify-button:hover, 
.vertigo-nightmode-button:hover {
  background-color: $base01;
}

.vertigo-todo-button:hover label, 
.vertigo-notify-button:hover label, 
.vertigo-nightmode-button:hover label {
  background-color: $base01;
  color: $base09;
}

.vertigo-profile-button,
.vertigo-profile-image {
  margin-bottom: 0.8em;
  margin-top: 0.5em;
  padding: 0;
}

// vim:ft=scss
