.clime-layout-box {
  font-family: "Caviar Dreams", Phosphor;
  font-size: 17;
  opacity: 0.8;
}

.clime-img {
  font-size: 80;
  padding-left: 0.2em;
  color: $base04;
}

.clime-temp {
  font-size: 60;
  font-family: Sagetarius;
  font-weight: bold;
}

.clime-city {
  margin-bottom: 0.5em;
}

.clime-category,
.clime-max, 
.clime-min {
  font-weight: bold;
}

@import "./_override.scss";

// vim:filetype=scss
