.radial-label {
  padding: 35px;
  font-size: 30px;
  background-color: $color0;
  background: linear-gradient(0deg, $color0 0%, $color8  50%, $color4 100%);
}

.ram-radial {
  margin-top: 25px;
  margin-bottom: 25px;
  color: $color2;
  background-color: $color8;
}

.cpu-radial {
  color: $color3;
  background-color: $color8;
}

.disk-radial {
  color: $color1;
  background-color: $color8;
}

.ram-radial-label {
  color: $color2;
}

.cpu-radial-label {
  color: $color3;
}

.disk-radial-label {
  color: $color1;
}

.scale-main-box {
  margin-left: 15px;
  margin-top: 15px;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.scale contents,
.scale-box,
.scale-main-box,
.scale,
.scale-label {
  background-color: $color0;
  border-radius: 10px;
}

.scale-label {
  font-size: 20px;
  margin-top: 15px;
}

.scale trough highlight {
  border-radius: 2px;
}

.scale trough {
  background: linear-gradient(180deg, $color15 0%, $color15  40%, $color0 100%);
  border-radius: 2px;
  min-height: 300px;
  min-width: 10px;
  margin-left: 22px;
  margin-right: 22px;
}

.source trough highlight {
  background: linear-gradient(0deg, $color0 0%, $color1  50%, $color1 100%);
}

.sink trough highlight {
  background: linear-gradient(0deg, $color0 0%, $color9  50%, $color9 100%);
}

.home trough highlight {
  background: linear-gradient(0deg, $color0 0%, $color2  50%, $color2 100%);
}

.config trough highlight {
  background: linear-gradient(0deg, $color0 0%, $color14  50%, $color14 100%);
}

.source {
  color: $color2;
}

.sink {
  color: $color14;
}

.config {
  color: $color9;
}

.home {
  color: $color1;
}
