.power-label {
  font-size: 35px;
  background-color: $color8;
  padding: 8px;
  border-radius: 50%;
}

.power-btn {
  border-radius: 10px;
  background-color: $color0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.poweroff {
  padding-top: 10px;
}
