.power-label {
  font-size: 35px;
  background: linear-gradient(
    120deg,
    $color8 10%,
    $color15 60%,
    $color15 100%
  );
  padding: 8px;
  border-radius: 50%;
}

.power-btn {
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 9px;
  padding-right: 9px;
}

.poweroff {
  padding-top: 10px;
  color: $color1;
  background-color: $color0;
}

.reboot {
  color: $color2;
  background-color: $color0;
}

.suspend {
  color: $color3;
  background-color: $color0;
}
