.uname-btn,
.uname-btn-label {
  background-color: $color0;
  border-radius: 10px;
}

.uname-btn {
  margin-bottom: 10px;
}

.uname-btn-label {
  padding-top: 15px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 800;
}
