.avatar-profile-top-box {
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1.0), rgba(30, 33, 40, 0.8)), url("./assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em;
  margin: 1em;
}

// vim:ft=scss
