.power-layout-box {
  font-family: Phosphor;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5em;
}

.power-label,
.power-label-icon {
  font-family: Phosphor, Koulen;
  font-size: 25;
  background-color: rgba(#000, 0.0);
  color: $shade00;
}

.power-label-time {
  font-size: 30;
}

.power-option-box {
  padding-left: 5em;
}

.power-label-icon {
  font-size: 40;
  padding-bottom: 0.06em;
}

.power-box {
  font-size: 35;
}

.power-box button:hover {
  background-color: rgba($base05, 0.6);
  transition: 200ms linear background-color;
}

.power-box button {
  padding: 0.4em;
  box-shadow: 1px 1px 4px 4px $shade01;
}

.power-shutdown-button {
  background-color: rgba($base11, 0.6);
  color: darken($base11, 50%);
}

.power-reboot-button {
  background-color: rgba($base09, 0.6);
  color: darken($base09, 50%);
}

.power-lock-button {
  background-color: rgba($base14, 0.6);
  color: darken($base14, 50%);
}

.power-sleep-button {
  background-color: rgba($base13, 0.6);
  color: darken($base13, 50%);
}

.power-logout-button {
  background-color: rgba($base15, 0.6);
  color: darken($base15, 50%);
}

@import "./_override.scss";

// vim:ft=scss
