@import "colors.scss";
@import "base.scss";

@import "time/time.scss";
@import "meters/meters.scss";
@import "weather/weather.scss";
@import "power/power.scss";
@import "last/last.scss";
@import "profile/profile.scss";
@import "username/username.scss";
@import "notifications/notifications.scss";

.main-box {
  padding: 10px;
  padding-left: 15px;
  padding-right: 20px;
}

.uname-box {
  border-radius: 10px;
  padding-left: 11px;
  padding-right: 11px;
}

.uname-box {
  background-color: $color0;
}

.notif-box {
  background-color: $color0;
}

.power-box {
  background-color: $color0;
  border-radius: 10px;
  margin-right: 15px;
}

.pow-wea-box {
  margin-top: 15px;
}

.radial-main-box {
  background-color: $color0;
  padding: 10px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-top: 15px;
}
