.last-box,
.mail-box {
  color: $background;
  border-radius: 10px;
}

.last-box {
  margin-right: 5px;
  margin-top: 15px;
}

.mail-label {
  font-size: 35px;
  font-weight: 900;
  color: $foreground;
  // background-color: $color13;
  background-color: $color0;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.mail-btn,
.mail-img,
.mail-box {
  color: $background;
  background-color: $color0;
  border-radius: 10px;
}

.mail-box {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 315px;
}

.extra-box {
  font-size: 50px;
  border-radius: 10px;
  background-color: $color0;
  padding-left: 20px;
  padding-right: 20px;
}

.extra-btn,
.extra-label {
  border-radius: 10px;
  background-color: $color0;
  color: $color1;
}
