.last-box,
.mail-box {
  color: $background;
  border-radius: 10px;
}

.last-box {
  margin-right: 5px;
  margin-top: 15px;
}

.mail-label {
  font-size: 30px;
  font-weight: 900;
  margin-left: 5px;
  color: $color8;
  background-color: $color12;
  border-radius: 10px;
}

.mail-btn,
.mail-img,
.mail-box {
  color: $background;
  background-color: $color12;
  border-radius: 10px;
}

.mail-box {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.extra-box {
  font-size: 50px;
  border-radius: 10px;
  background-color: $foreground;
  padding-left: 20px;
  padding-right: 20px;
}

.extra-btn,
.extra-label {
  border-radius: 10px;
  background-color: $foreground;
  color: $color1;
}
