$base00: #1a2026;
$base01: #21272d;
$base02: #292f35;
$base03: #2e343a;
$base04: #42484e;
$base05: #bebebe;
$base06: #bbbbbb;
$base07: #b0b0b0;
$base08: #ac8a8c;
$base09: #C9938A;
$base10: #aca98a;
$base11: #8aac8b;
$base12: #8aabac;
$base13: #7797b7;
$base14: #948fb1;
$base15: #ac8a8c;

$shade00: #565c62;
$shade01: #50565c;
$shade02: #474d53;
$shade03: #42484e;
$shade04: #2e343a;
$shade05: #292f35;
$shade06: #242a30;
$shade07: #20262c;
$shade08: #212528;
$shade09: #1c2023;
$shade10: #151b21;
$shade11: #161a1d;
$shade12: #14181b;

$normal: #273a4e;
$critical: #471d1d;
$low: #0c2d21;
$other: #2c1033;

// vim:ft=scss
