.weather-type-box {
  padding-right: 20px;
  padding-left: 20px;
}

.weather-cat-label {
  font-size: 20px;
  font-weight: 800;
}

.weather-levels-box {
  padding-top: 12px;
  font-weight: 600;
}

.weather-label {
  font-size: 50px;
  font-weight: 900;
}

.weather-max-label,
.weather-min-label,
.weather-feels-label {
  font-size: 10px;
  padding-left: 130px;
  color: $color6;
}

.weather-cat-label,
.weather-city-label {
  color: $color3;
}

.weather-sm-box,
.weather-cat-city-box,
.weather-city-label,
.weather-image,
.weather-label,
.weather-levels-box,
.weather-max-label,
.weather-min-label,
.weather-feels-label,
.weather-cat-label {
  border-radius: 10px;
  background-color: $color0;
}

.weather-sm-box {
  background-image: url("/home/maker/Pictures/wallpapers/nord/Misty Mountain.jpg");
  background-size: contain;
  background-repeat: round;
}

.weather-type-box {
  opacity: 0.6;
  background-color: $color0;
}

.weather-type-box-upper {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.weather-type-box-lower {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.weather-cat-city-box {
  margin-top: 30px;
}
