.disclose-layout-box {
  background-color: $shade10;
  font-family: Dosis, feather, "Iosevka Nerd Font", sans-serif;
}

.disclose-headers {
  padding: 1em 2em 0 2em;
  margin-bottom: 0.8em;
  color: $base05;
}

.disclose-headers-label {
  font-size: 20;
  font-weight: bold;
  color: $base11;
  opacity: 0.8;
}

.disclose-headers-clear {
  font-size: 25;
  color: $base09;
  padding: 0em 0.7em 0 0.5em;
  border-radius: 0.3em;
}

.disclose-headers-clear:hover {
  background-color: $base09;
  color: $base02;
}

.disclose-scroll {
  margin: 0 1.5em 0 1.5em;
}

.disclose-cardimage-eventbox,
.disclose-cardprog-eventbox,
.disclose-cardradial-eventbox,
.disclose-cardscr-eventbox {
  background: linear-gradient(45deg, $base02 20%, $base01 100%);
  border-radius: 0.5em;
}


.disclose-cardprog-eventbox:hover,
.disclose-cardradial-eventbox:hover,
.disclose-cardimage-eventbox:hover {
  background: linear-gradient(170deg, $base01 20%, $shade01 100%);
}

.disclose-cardscr-eventbox:hover {
  background: linear-gradient(170deg, $shade01 20%, $base01 100%);
}

.disclose-cardprog-icon,
.disclose-cardimage-icon {
  background-size: cover;
  background-repeat: no-repeat;
}

.disclose-cardprog-image-box,
.disclose-cardimage-image-box {
  padding: 0 1em 0 1em;
}

.disclose-cardprog-image,
.disclose-cardimage-image {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -0.4px -0.3px 4px 4px $shade08;
  border-radius: 50%;
  border: 0.25em solid $base09;
}

.disclose-cardprog-separator,
.disclose-cardradial-separator,
.disclose-cardimage-separator {
  background-color: $shade03;
  font-size: 1;
  padding-top: 3em;
}

.disclose-cardprog-body-box,
.disclose-cardradial-body-box,
.disclose-cardimage-body-box {
  font-size: 15;
  padding: 1em 0 1em 0;
}

.disclose-cardprog-summary-box,
.disclose-cardradial-summary-box,
.disclose-cardimage-summary-box {
  padding: 0.5em 0 0.5em 0.5em;
  background-color: darken($base09, 10%);
  border-radius: 0.3em 0.3em 0 0;
  color: $base02;
}

.disclose-cardscr-summary-box {
  padding: 0.5em 0 0 1em;
  border-radius: 0.3em 0.3em 0 0;
  color: $base02;
}

.disclose-cardprog-appname-label,
.disclose-cardradial-appname-label,
.disclose-cardimage-appname-label {
  padding-left: 0.4em;
  font-size: 16;
  font-weight: bold;
}

.disclose-cardimage-close-button,
.disclose-cardprog-close-button,
.disclose-cardradial-close-button,
.disclose-cardscr-close-button {
  margin: 0.6em 1em 0.6em 0;
  padding: 0.2em;
  background-color: $base11;
  color: $base01;
  border-radius: 50%;
  box-shadow: -0.4px -0.3px 4px -1.8px $shade09;
}

.disclose-cardimage-close-button:hover,
.disclose-cardprog-close-button:hover,
.disclose-cardradial-close-button:hover,
.disclose-cardscr-close-button:hover {
  background-color: $base01;
  color: $base11;
}

.disclose-cardprog-body-outer,
.disclose-cardradial-body-outer,
.disclose-cardimage-body-outer {
  padding: 0 1em 0 0;
}

.disclose-cardimage-summary-label,
.disclose-cardprog-summary-label,
.disclose-cardradial-summary-label,
.disclose-cardscr-summary-label {
  font-size: 20;
  font-weight: bold;
  color: $base05;
}

.disclose-cardimage-body-label,
.disclose-cardprog-body-label,
.disclose-cardradial-body-label,
.disclose-cardscr-body-label {
  font-size: 16;
  color: $base05;
}

.disclose-cardimage-timestamp,
.disclose-cardprog-timestamp,
.disclose-cardradial-timestamp,
.disclose-cardscr-timestamp {
  color: $base10;
  font-weight: bold;
}

.disclose-cardscr-image {
  margin: 1em;
  border-radius: 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
}

.disclose-cardscr-timestamp {
  padding-right: 1em;
}

.disclose-cardscr-open-button,
.disclose-cardscr-delete-button {
  font-size: 20;
  font-weight: bold;
  padding: 0.6em 3.72em 0.6em 3.72em;
  margin-bottom: 0.7em;
  border-radius: 0.2em;
  color: $base02;
}

.disclose-cardscr-open-button {
  background-color: darken($base09, 10%);
}

.disclose-cardscr-open-button:hover {
  color: $base09;
  background-color: $shade02;
}

.disclose-cardscr-delete-button {
  background-color: $shade02;
  color: $base11;
}

.disclose-cardscr-delete-button:hover {
  background-color: $base11;
  color: $shade02;
}

.disclose-cardprog-scale {
  background-color: $shade01;
  border-radius: 0.2em;
  margin: 0.5em 0 0.5em;

  contents {
    trough {
      border-radius: 0.2em;

      // Uncomment to enable slider pointer
      // slider {
      //   margin: -8px;
      //   background-color: $base15;
      //   box-shadow: -0.4px -0.3px 4px -1.8px $shade09;
      //   border-radius: 20%;
      // }

      highlight {
        background-color: $base09;
        padding: 0.7em;
        border-radius: 0.2em;
      }
    }
  }
}

.disclose-cardprog-value-label {
  padding: 0 0.5em 0 0.5em;
  margin: 0.2em 0 0.2em 0;
  color: $base02;
  font-weight: 700;
  background-color: $base10;
  border-radius: 10%;
}

.disclose-cardradial-circle-box {
  padding: 0 1em 0 1em;
}

.disclose-cardradial-circle {
  font-size: 25;
  color: $base09;
  background-color: $shade01;
}

.disclose-cardradial-tasks {
  padding: 1.4em;
  font-weight: bolder;
  color: $base10;
}

// vim:ft=scss
