.disclose-cardimage-eventbox {
  background: linear-gradient(45deg, $base02 20%, $base01 100%);
  border-radius: 0.5em;
}

.disclose-cardimage-eventbox:hover {
  background: linear-gradient(170deg, $base01 20%, $shade01 100%);
}

.disclose-cardimage-icon {
  margin: 0 0 0 -0.21em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.disclose-cardimage-image-box {
  padding: 0 1em 0 1em;
}

.disclose-cardimage-image {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -0.4px -0.3px 4px 4px $shade08;
  border-radius: 50%;
  border: 0.25em solid $base09;
}

.disclose-cardimage-separator {
  background-color: $shade02;
  font-size: 1;
  padding: 3.4em 0 0 0;
  margin: 0 10em 0 10em;
}

.disclose-cardimage-body-box {
  font-size: 15;
  padding: 1em 0 1em 0;
}

.disclose-cardimage-summary-box {
  padding: 0.5em 0 0.5em 0.9em;
  background-color: darken($base09, 10%);
  border-radius: 0.3em 0.3em 0 0;
  color: $base02;
}

.disclose-cardimage-appname-label {
  font-size: 16;
  font-weight: bold;
}

.disclose-cardimage-close-button {
  margin: 0.6em 1em 0.6em 0;
  padding: 0.2em;
  background-color: $base11;
  color: $base01;
  border-radius: 50%;
  box-shadow: -0.4px -0.3px 4px -1.8px $shade09;
}

.disclose-cardimage-close-button:hover {
  background-color: $base01;
  color: $base11;
}

.disclose-cardimage-body-outer {
  padding: 0 1em 0 0;
}

.disclose-cardimage-summary-label {
  font-size: 20;
  font-weight: bold;
  color: $base05;
}

.disclose-cardimage-body-label {
  font-size: 16;
  color: $base05;
}

.disclose-cardimage-timestamp {
  color: $base10;
  font-weight: bold;
}

// vim:ft=scss
