.disclose-empty-banner {
  padding-top: 8em;
}

.disclose-empty-box {
  padding: 1em 1em 10em 0;
}

.disclose-empty-label {
  padding-top: 3em;
  color: $shade00;
  font-size: 16;
}

.disclose-separator {
  font-size: 0.5;
  background-color: $shade06;
  margin: 35em 25em 35em 25em;
}

// vim:ft=scss
