.shot-image-bord-dashed {
  border-style: dashed;
}

.Spotify-rectangle {
  margin: 0.3em;
  border-radius: 0.2em;
  border-width: 0
}

.Qbittorrent-rectangle {
  border-radius: 0;
  border-width: 0;
}

// vim:ft=scss
