.notif-btn,
.notif-label {
  background-color: $color0;
}

.notif-btn {
  margin-left: 9px;
}

.notif-label {
  font-size: 45px;
  background-color: $color8;
  padding: 2px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 10px;
}

.nightmode {
  font-size: 48px;
  padding-left: 30px;
  padding-right: 30px;
}
